*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    background-color: burlywood;
    height: 100px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


form{
    width: 40%;
    border:1px solid black;
    background-color: rgb(216, 169, 194);
    padding: 30px 20px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

fieldset{
    border: none;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
}

legend{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

label{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    height: 30px;
    padding-left: 10px;
}

.error{
    font-size: 18px;
    visibility: hidden;
    font-weight: bold;
}

#nameError.visible, #emailError.visible,#passError.visible{
    visibility: visible;
    color: red;
}

#nameError.valido, #emailError.valido, #passError.valido{
    visibility:visible;
    color: green;
}

#enviar{
    background-color: blanchedalmond;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.contenedor{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    background-color: rgb(168, 182, 234);
    margin: 50px auto;
    text-align: center;
}

#resultado{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}